section#top {
  display:block;
  width: 100%;
  height: 200px;
  background-color: #ffffe6;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  height: 200px;
}

img {
  height: 60px;
  width: 60px;

}
